 /*

COULEURS

Bleu foncé
#3454D1

Bleu clair
#C5CAFF

Beige
#C9B55D

Blanc
#EFEFEF

Noir
#0C090D

*/

/* MENU */
nav .bar {
    height: 10vh;
}

nav .bar a {
    text-decoration: none;
}

nav .menu {
    display: none;
    height: 100vh;
    right: 0;
    z-index: 99;
    position: relative;
}

nav.menu-show .menu {
    display: flex;
    animation: slideIn .5s forwards;
}

nav .menu.menu-out {
    animation: slideOut .5s forwards;
}

@keyframes slideIn {
    
    from {
        right: -100px;
        opacity: 0;
    }
    
    to {
        right: 0;
        opacity: 1;
    }
    
}

@keyframes slideOut {
    
    from {
        right: 0;
        opacity: 1;
    }
    
    to {
        right: -100px;
        opacity: 0;
    }
    
}

nav .menu .close-bar {
    position: absolute;
    top: 0;
}

nav .menu .close-bar img {
    height: 50px;
}

nav .bar i, nav .menu .close-bar i {
    font-size: 20px;
    padding: 15px;
}

nav .menu ul {
    padding: 20px;
}

nav .menu ul li {
    font-size: 1.5em;
}

nav .menu ul li:not(:last-of-type) {
    margin-bottom: 10vh;
}

nav .menu ul li a {
    text-decoration: none;
}

nav .menu ul li a:hover {
    text-decoration: underline;
}


/* HEADER */
header {
    background: url('../images/wave-1.jpg') #C5CAFF;
    background-size: cover;
    overflow: hidden;
}

header .home-tilt {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header .row {
    align-items: center;
}

header svg, header img {
    width: 100%;
    display: block;
}

header h1 {
    font-family: 'Axis';
    font-size: 2.5em;
}

header h1 span.title-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

header h1 span.title-row span.title-letter {
    width: 25%;
    text-align: center;
}

header h3 a {
    color: inherit;
}


/* SECTIONS */
section article {
    padding: 50px 0 50px 0;
    background: #efefef;
    position: relative;
    z-index: 10;
}

section article.full-height {
    min-height: 100vh;
    padding: 100px 0 100px 0;
}

section article:nth-of-type(even) {
    background: #3454D1;
}


/* FOOTER */
footer {
    background: #0C090D;
}

footer * {
    color: #3454D1;
}

footer .row {
    min-height: 20vh;
    align-items: center;
}


/* ABOUT */
#about #presentation-background {
    height: 100%;
    display: block;
    background: #C9B55D;
    top: 0;
    right: 0;
    z-index: -1;
}

#about .about-timeline {
    padding: 0;
    margin-bottom: -2px;
}

#about #bodymovin svg defs {
    display: none;
}


/* Skills */

#skills .skills-phrase {
    background: #3454d1;
    animation: skillsPhraseBg 10s infinite;
}

@keyframes skillsPhraseBg {
    
    50% {
        background: #c5caff;
    }
    
}


/* CONCTACT */
#contact > .full-height {
    padding-top: 0;
}

#contact #map {
    height: 30vh;
    width: 100%;
}

#contact p {
    margin-bottom: 50px;
}

#contact p i {
    color: #c9b55d;
    font-size: 2em;
    display: block;
    margin-bottom: 15px;
}

#contact p#contact-email:after {
    content: "hello@baptistevillemur.fr";
}

#contact p#contact-phone:after {
    content: "06 23 26 64 42";
}

#contact p#contact-address span {
    display: block;
    margin-bottom: 5px;
}

#contact p#contact-address span#contact-address-street:after {
    content: "17b, rue des merciers";
}

#contact p#contact-address span#contact-address-town:after {
    content: "17000 La Rochelle";
}

#contact p#contact-address span#contact-address-country:after {
    content: "FRANCE";
}









