# Check SSL port
#SetEnvIf %{SERVER_PORT} ^80$ IS_NON_SSL

# Redirect HTTP to HTTPS
#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Require authentification
# NOT WORKING
#AuthName "Restricted Area"
#AuthType Basic
#AuthUserFile "/home/baptistemj/v3/.htpasswd"
#Require valid-user
#Order allow, deny
#Allow from env=IS_NON_SSL

# WORKING
#AuthUserFile /home/baptistemj/v3/.htpasswd
#AuthName "Please Log In"
#AuthType Basic
#require valid-user
#Order allow,deny
#Allow from env=IS_NON_SSL
#Allow from 90.11.97.155
#satisfy any